{% extends '::base.html.twig' %}
{% block content %}

<div class='site-form-header'>
<h1>Login</h1>

{% if error %}
<p class='site-form-error' style='display: block'>{{ error.message }}</p>
{% endif %}
</div>

<div class='site-form-content'>
<form action='{{ path('AehpartaSecurityBundle_login_check') }}' method='post'>
    <label class='site-form-input-label' for='username'>Username:</label>
    <br /><input class='site-form-input' type='text' id='username' name='_username' value='{{ last_username }}' />

    <br /><label class='site-form-input-label' for='password'>Password:</label>
    <br /><input class='site-form-input' type='password' id='password' name='_password' />

    {#
        If you want to control the URL the user is redirected to on success (more details below)
        <input type='hidden' name='_target_path' value='/account' />
    #}

    <br /><button type='submit' class='site-form-button'><img class='icon' src='{{ asset('/images/coquette/16x16/user.png') }}' />Login</button>
</form>
</div>

<ul class='list'>
<li><a href='{{ path('AehpartaSecurityBundle_register') }}'>Register new account</a></li>
<li><a href='{{ path('AehpartaSecurityBundle_reset') }}'>Forgot your password?</a></li>
</ul>

{% endblock content %}
