<div id='edb-form-article'
    class='edb-editor editable-container'
    edb-article-id='{{ id }}'
    edb-category-id='{{ category_id }}'
    edb-browser-url='{{ path('EDBFrontpageBundle_browse', { 'category_id': category_id, 'article_id': id }) }}'
    edb-editor-method='PUT'
    edb-editor-url='{{ path('EDBContentBundle_article', { 'identifier': id, '_format': 'json' }) }}'
    >

{% if is_granted('ROLE_USER') %}
<div class='editable-tools'>
{% if id < 1 %}
    <button class='site-form-button edb-editor-send edb-editor-button' type='button' title='Save changes'><img class='icon' src='{{ asset('/images/coquette/16x16/accept.png') }}' />Save</button>
{% else %}
    <button
        site-form-url='{{ path('ArhpartaFormBundle_confirm_delete', { 'title': 'Confirm delete article', 'message': 'Do you really want to delete this article?' }) }}'
        site-form-action='{{ path('EDBContentBundle_article', { 'identifier': id, '_format': 'json' }) }}'
        class='site-form-button editable-tools-mode-start edb-tools-article-delete' type='button' title='Delete article'>
            <img class='icon' src='{{ asset('/images/coquette/16x16/delete.png') }}' />
            Delete
    </button>
    <button class='site-form-button editable-tools-mode-start edb-tools-article-edit' type='button' title='Edit article'><img class='icon' src='{{ asset('/images/coquette/16x16/process.png') }}' />Edit</button>
    <button class='site-form-button editable-tools-mode-edit edb-editor-send edb-editor-button' type='button' title='Save changes'><img class='icon' src='{{ asset('/images/coquette/16x16/accept.png') }}' />Save</button>
    <button class='site-form-button editable-tools-mode-edit edb-tools-article-stop' type='button' title='Stop editing'><img class='icon' src='{{ asset('/images/coquette/16x16/block.png') }}' />Cancel</button>
{% endif %}
</div>
{% endif %}

<div class='edb-editor-header'>
<button class='site-form-button edb-tools-article-close' type='button' title='Back'><img class='icon' src='{{ asset('/images/coquette/16x16/back.png') }}' />Back</button>
{% if id < 1 %}
<h2 name='title' id='edb-article-title' class='editable editable-single-line'>< title ></h2>
{% else %}
<h2 name='title' id='edb-article-title' class='editable editable-single-line'>{{ title | raw }}</h2>
{% endif %}
</div>
<div class='edb-editor-error edb-editor-message'></div>

<div id='edb-article-div-document' class='site-form-content edb-editor-content edb-article-chapter'>

<div class='edb-article-edit-extras'>
    <label for='stockable'>Is stockable (components etc)</label>
    <input name='stockable' type='checkbox' {% if stockable %}checked='checked'{% endif %} value='stockable'/>
</div>

<h3>Documentation</h3>
<span class='editable-edit-title'>Portrait:<br /></span>

<div id='edb-article-portrait'>
    <a id='edb-article-portrait-edit' href='#edb-article-image-browser'><img name='portrait' alt='Click to add' src='{{ portrait }}' /></a>
    <a id='edb-article-portrait-show' href='{{ portrait }}'><img src='{{ portrait }}' /></a>
</div>

<input name='category_id' static='true' type='hidden' class='edb-editor-input' value='{{ category_id }}' />
<input name='article_id' static='true' type='hidden' class='edb-editor-input' value='{{ id }}' />
<span class='editable-edit-title'>Description:<br /></span>
<div name='description' class='editable'>{{ description | raw }}</div>
</div>

{% render path('EDBBrowserBundle_forms_article_attachments', { 'article_id': id }) %}

{% if stockable and is_granted('ROLE_USER') %}
{% render path('EDBBrowserBundle_forms_article_stock', { 'article_id': id }) %}
{% endif %}

</div>
